nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(3, 3, 3);
    overflow: auto;
    height: auto;
  }
.left-links{
    flex:1 1 200px;
    text-align: left;
  }
.links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: rgb(253, 247, 247);
    font-size: 17px;
    font-weight: bolder;
    text-decoration: unset;
  }
.links:hover {
    border-bottom: 2px solid rgb(255, 252, 252);
  }
.selected{
    border-bottom: 2px solid rgb(0, 0, 0);
  }
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../resources/welcome.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signin-box {
    width: 320px;
    height: wrap;
    background-color: rgb(241, 248, 248);
    color: black;
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-color: black;
    border-style: double;
    box-sizing: border-box;
    padding-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}
.signin-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -10%);
}
h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.signin-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.signin-box input {
    width: 100%;
    margin-bottom: 20px;
}
.signin-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 35px;
    font-size: 14px;
}
.signin-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: turquoise;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
}
.signin-box input[type="submit"]:hover {
    cursor: pointer;
}
.signin-box a
 {
    text-decoration: unset;
    font-size: 12px;
    line-height: 20px;
    color: blue;
}
.signin-box input[type="radio"] {
    width: auto;
    margin-bottom: 15px;
}